@charset "UTF-8";
* {
  position: relative;
}

/*顏色*/
body {
  font-family: "PingFang","Microsoft Jheng Hei","蘋方","微軟正黑體","sans-serif";
}

.page {
  position: relative;
  min-height: 100vh;
  background: #efefef;
  z-index: 1;
  width: 100vw;
  overflow: hidden;
}

header {
  background: #424242;
  height: 300px;
}

header > div {
  position: relative;
  height: 100%;
}

header > div h1.logo {
  display: inline-block;
  position: absolute;
  width: 117px;
  height: 117px;
  top: 92px;
  left: 173px;
  line-height: 117px;
  font-size: 117px;
  color: #FFD366;
}

header > div .form {
  display: inline-block;
  position: absolute;
  top: 74px;
  left: 290px;
  margin-left: 97px;
}

header > div .form * {
  display: block;
}

header > div .form .bodyweight {
  margin-top: 23px;
}

header > div .form label {
  font-size: 18px;
  color: #FFD366;
  line-height: 21px;
}

header > div .form input {
  margin-top: 7px;
  width: 250px;
  height: 40px;
  background: rgba(255, 255, 255, 0.18);
  border: 2px solid #FFD366;
  border-radius: 10px;
  padding: 8px 16px;
  line-height: 28px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5);
}

header > div .form input:focus {
  outline: none;
}

header > div .btn {
  display: inline-block;
  position: absolute;
  top: 92px;
  right: 214px;
  margin-left: 53px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #FFD366;
  text-align: center;
}

header > div .btn > p.sub {
  display: inline-block;
  margin: 48px 23.5px;
  font-size: 24px;
  line-height: 25px;
  color: #424242;
}

header > div .btn:hover {
  background-color: #FFD366;
  -webkit-box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64);
          box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64);
}

header > div .btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #DEA821;
}

header > div .btn > p.nub, header > div .btn > p.bmi, header > div .btn > span {
  display: none;
}

header > div .btn.result {
  background-color: #424242;
  border: 6px solid;
  width: 126px;
  height: 126px;
}

header > div .btn.result:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

header > div .btn.result:hover > span {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
}

header > div .btn.result > p.sub {
  display: none;
}

header > div .btn.result > p.nub {
  display: inline-block;
  margin: 41px 18px;
  font-size: 32px;
  line-height: 38px;
}

header > div .btn.result > p.bmi {
  position: absolute;
  top: 77px;
  left: 48px;
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
}

header > div .btn.result > span {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #424242;
  padding-top: 5px;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 78px;
  left: 93px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-out all;
  transition: 0.5s ease-out all;
}

header > div .btn.result.normal {
  border-color: #86D73F;
}

header > div .btn.result.normal > p.nub {
  color: #86D73F;
}

header > div .btn.result.normal > p.bmi {
  color: #86D73F;
}

header > div .btn.result.normal > span {
  background: #86D73F;
}

header > div .btn.result.tooLight {
  border-color: #31BAF9;
}

header > div .btn.result.tooLight > p.nub {
  color: #31BAF9;
}

header > div .btn.result.tooLight > p.bmi {
  color: #31BAF9;
}

header > div .btn.result.tooLight > span {
  background: #31BAF9;
}

header > div .btn.result.tooHeavy {
  border-color: #FF982D;
}

header > div .btn.result.tooHeavy > p.nub {
  color: #FF982D;
}

header > div .btn.result.tooHeavy > p.bmi {
  color: #FF982D;
}

header > div .btn.result.tooHeavy > span {
  background: #FF982D;
}

header > div .btn.result.obesity {
  border-color: #FF6C03;
}

header > div .btn.result.obesity > p.nub {
  color: #FF6C03;
}

header > div .btn.result.obesity > p.bmi {
  color: #FF6C03;
}

header > div .btn.result.obesity > span {
  background: #FF6C03;
}

header > div .btn.result.sObesity {
  border-color: #FF1200;
}

header > div .btn.result.sObesity > p.nub {
  color: #FF1200;
}

header > div .btn.result.sObesity > p.bmi {
  color: #FF1200;
}

header > div .btn.result.sObesity > span {
  background: #FF1200;
}

header > div .resulttext {
  font-size: 32px;
  line-height: 38px;
  position: absolute;
  top: 137px;
  left: 829px;
  display: none;
}

header > div .resulttext.normal {
  color: #86D73F;
  display: block;
}

header > div .resulttext.tooLight {
  color: #31BAF9;
  display: block;
}

header > div .resulttext.tooHeavy {
  color: #FF982D;
  display: block;
}

header > div .resulttext.obesity {
  color: #FF6C03;
  display: block;
}

header > div .resulttext.sObesity {
  color: #FF1200;
  display: block;
}

main {
  width: 100%;
  background-color: #efefef;
  min-height: 55vh;
}

main .mark {
  margin-top: 48px;
  margin-bottom: 46px;
  font-size: 24px;
  color: #424242;
  line-height: 28px;
}

main section {
  margin: 0 auto;
  width: 624px;
  margin-bottom: 74px;
}

main .card {
  position: relative;
  margin-top: 16px;
  background-color: #fff;
  width: 624px;
  height: 62px;
  padding: 21px 0;
  padding-left: 19px;
  padding-right: 11px;
  font-size: 20px;
  line-height: 23px;
  color: #4A4A4A;
}

main .card p {
  display: inline-block;
  font-size: 20px;
  line-height: 23px;
  position: absolute;
}

main .card p.BMI {
  left: 129px;
}

main .card p.weight {
  left: 252px;
}

main .card p.height {
  left: 386px;
}

main .card p.date {
  left: 545px;
}

main .card button {
  position: absolute;
  font-size: 20px;
  line-height: 25px;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  background-color: transparent;
  right: 0px;
  top: 0px;
  outline: none;
}

main .card button:hover {
  background-color: #aaa;
}

main .card .sfont {
  font-size: 12px;
  line-height: 15px;
  color: #424242;
}

main .card::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 7px;
  height: 62px;
  top: 0;
  left: 0;
}

main .card.normal::before {
  background: #86D73F;
  -webkit-box-shadow: 2px 0 3px 0 rgba(134, 215, 63, 0.29);
          box-shadow: 2px 0 3px 0 rgba(134, 215, 63, 0.29);
}

main .card.tooLight::before {
  background: #31BAF9;
  -webkit-box-shadow: 2px 0 3px 0 rgba(49, 186, 249, 0.29);
          box-shadow: 2px 0 3px 0 rgba(49, 186, 249, 0.29);
}

main .card.tooHeavy::before {
  background: #FF982D;
  -webkit-box-shadow: 2px 0 3px 0 rgba(255, 152, 45, 0.29);
          box-shadow: 2px 0 3px 0 rgba(255, 152, 45, 0.29);
}

main .card.obesity::before {
  background: #FF6C03;
  -webkit-box-shadow: 2px 0 3px 0 rgba(255, 108, 3, 0.29);
          box-shadow: 2px 0 3px 0 rgba(255, 108, 3, 0.29);
}

main .card.sObesity::before {
  background: #FF1200;
  -webkit-box-shadow: 2px 0 3px 0 rgba(255, 18, 0, 0.29);
          box-shadow: 2px 0 3px 0 rgba(255, 18, 0, 0.29);
}

footer {
  width: 100%;
  background-color: #FFD366;
  padding: 17px;
  position: relative;
  bottom: 0;
}

footer .slogo {
  display: inline-block;
  color: #424242;
  height: 55px;
  width: 55px;
  font-size: 55px;
  line-height: 55px;
}
/*# sourceMappingURL=layout.css.map */